<footer id="footer" style="text-align: center;">
    <i class="fab fa-twitter fa-3x lasti"></i>
    <i class="fab fa-facebook-f fa-3x lasti"></i>
    <i class="fab fa-instagram fa-3x lasti"></i>
    <i class="far fa-envelope fa-3x lasti"></i>

    <p style="color:#252121">© Copyright 2021 JID Productions</p>

  </footer>


</body>

</html>